@import './reset.scss';

*{
    // -webkit-font-smoothing: antialiased;
    // animation: translate3d( 0, 0, 0);
}

$text-color: #B3B3B3;
$background-color: #191414;
$alt-background-color: #181818;
$light-green: #1ed760;
$green: #1db954;
$break-large: 992px;
$font: 'Varela Round', sans-serif;
$transparent-background-color: rgba(25, 20, 20, .2);
$red: #ff0000;
$light-red: #ff3333;
$yellow: #ffdd00;
$light-yellow: #ffef00;

$spin: spin 10s linear infinite;;
$open-top-left: openTopLeft .5s normal forwards ease-in-out;
$close-top-left: closeTopLeft .5s normal forwards ease-in-out;
$open-right: openRight .25s normal forwards ease-in-out;
$close-right: closeRight .25s normal forwards ease-in-out;
$open-left: openLeft .35s normal forwards ease-in-out;
$close-left: closeLeft .35s normal forwards ease-in-out;
$fade-in: fadeIn .5s normal forwards ease-in-out;
$fade-out: fadeOut .5s normal forwards ease-in-out;




@keyframes spin{
    100% {transform: rotate(360deg)}
}

@keyframes openTopLeft {
    
    from { 
        transform-origin: left top;
        transform: scaleY(0) 
    }
    to { 
        transform-origin: left top;
        transform: scaleY(1) 
    }
}

@keyframes closeTopLeft {
    from { 
        transform-origin: left top;
        transform: scaleY(1) 
    }
    to { 
        transform-origin: left top;
        transform: scaleY(0) 
    }
}

@keyframes openRight {
    
    from { 
        transform-origin: right top;
        transform: scaleX(0) 
    }
    to { 
        transform-origin: right top;
        transform: scaleX(1) 
    }
}

@keyframes closeRight {
    from { 
        transform-origin: right top;
        transform: scaleX(1) 
    }
    to { 
        transform-origin: right top;
        transform: scaleX(0) 
    }
}

@keyframes openLeft {
    from{
        transform-origin: left top;
        transform: scaleX(0) 
    }
    to { 
        transform-origin: left top;
        transform: scaleX(1) 
    }
}

@keyframes closeLeft {
    from{
        transform-origin: left top;
        transform: scaleX(1) 
    }
    to { 
        transform-origin: left top;
        transform: scaleX(0) 
    }
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes fadeOut {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}