@import '../../styles/variables.scss';

.pinned-tag-list{
    margin-top: .5em;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    height: 45%;
    h2{
        
       width: 80%;
       border-bottom: 2px solid $text-color; 
       text-align: left;
       margin-bottom: .5em;
       height: 15%;
    }

    .tag-list{
        width: 80%;
        height: 85%;
        overflow: auto;
    }
}