@import '../../styles/variables.scss';

.fetch-control{
    border: 2px solid $text-color;
    border-radius: 50%;
    height: 2.5em;
    width: 2.5em;
    margin: .5em 2em;
    display: flex;
    align-items: center;
    justify-content: center;

    button{
        background-color: transparent;
        color: #fff;
        font-size: 1.25em;
        
    }
    button:hover{
        background-color: transparent;
    }
}

.fetch-control-synced{
    border: 2px solid $green;
    box-shadow: 0 0 10px $green;

    button{
        color: $light-green;
    }
}

.fetch-control-not-synced{
    border: 2px solid $red;
    box-shadow: 0 0 10px $red;

    button{
        color: $light-red;
    }
}

.fetch-control-syncing{
    border: 2px solid $yellow;
    box-shadow: 0 0 10px $yellow;

    button{
        color: $light-yellow;
        animation: $spin;
    }
}