@import '../../styles/variables.scss';

.sidebar{
    position: fixed;
    height: 93vh;
    width: 60vw;
    background-color: $alt-background-color;
    left:0;
    top:7vh;
    border-right: 1px solid $text-color;
    z-index: 1000;

    @media screen and (min-width: $break-large) {
        width: 20vw
    }

    a{
        
        
    }
    li{
        text-decoration: none;
        color: $text-color;
        border-bottom: 1px solid $text-color;
        padding: .5em;
    }


}

.hide{
    display: none;
}

.open-left{
    animation: $open-left;
}