@import '../../styles/variables.scss';

.song-display{
    height: 38vh;
    background-color: $background-color;
    color: $text-color;
    font-family: $font;
    display: flex;
    flex-direction: column;
    img{
        box-shadow: 0 0 100px #fff;
        margin-top: 2em;
        margin-bottom: .5em;
        margin-left: 2em;
        max-height: 60px;
        max-width: 60px;
    }
}

.display-top{
    display: flex;
    flex-direction: row;
}

.song-details{
    margin-top: 2em;
    margin-left: 1em;
    text-align: left;
    //line-height: .25em;

    h1{
        text-decoration: underline;
        margin-bottom: .5em;
    }

    h2{
        margin-bottom: .5em;
    }
}