@import '../../styles/variables.scss';

.song-display{
    height: 40vh;
    background-color: $background-color;
    color: $text-color;
    font-family: $font;
    img{
        box-shadow: 0 0 100px #fff;
        margin-top: 2em;
        margin-bottom: .5em;

    }
}