@import '../../styles/variables.scss';

.song-item{
    width: 100%;
    background-color: $background-color;
    color: $text-color;
    font-family: $font;
    display: flex;
    font-size: 10px;
    height: 4rem;
    border-bottom: 1px solid $text-color;
}

.song-info{
    display: flex;
    flex-direction: column;
    padding: .5em;
    width: 45%;

    div{
        padding-top: .5em;
        display: flex;
        justify-content: flex-start;
        
        span{
            margin-right: .25em;
            text-align: left;
            
        }

        
    }
}

.artist-names{
    //max-width: 18em;
    //height: 1em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    //display: none;
}

.play-info{
    display: flex;
    justify-content: flex-end;
    padding: .5em;
    width: 30%;
    //margin: .5em 1.5em;
}

.controls{

    width: 12%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    padding-right: 1em;
    //height: 4rem;

    .green-circle{
        font-size: 2em;
        background-color: $green;
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    i {
        
        color: #fff;
        text-align: center;
        
    }
}


.hide{
    display: none;
}

.control-panel{
    position: absolute;
    right: 6em;
    top: 1em;
    background-color: $alt-background-color;
    font-size: .75em;
    width: 300%;
    z-index: 25;
    border: 2px solid $green;
    border-radius: 10px;
    padding: 0 10px;
    ul{
        li{
            button{
                background-color: $background-color;
                color: $text-color;
                width: 100%;
                border-bottom: 1px solid $text-color;
                padding: .5em 0;
                font-size: 1.35em;
            }
            button:hover{
                background-color: $light-green;
                color: #fff;
            }
        }
    }
}

.open-panel{
    animation: $open-right;
}

.close-panel{
    animation: $close-right;
}

.play-controls{
    width: 13%;;
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
}